
{% extends "base.html.twig" %}

{% block title %}Pig Game{% endblock %}

{% block main %}
<h1>Pig game</h1>
<p>You are playing with {{ pigDice }} dice.</p>
<ul style="list-style: none; font-size: 5rem; display: flex; flex-wrap: wrap;">
    {% for die in dicehand %}
        <li>{{ die }}</li>
    {% endfor %}
</ul>
<p>Points this round: {{ pigRound }}</p>
<p>Total points: {{ pigTotal }}</p>

<p>Roll the dice or save the points you have.</p>
<p>You have made {{ roundRolls }} rolls this round, and a total of {{ totalRolls }} rolls in this game.</p>

<form method="post" action="">
    <p>
        <input
            type="submit"
            name="roll"
            value="Roll"
            onClick="this.form.action='{{ path('pig_roll') }}';"
        >

        <input
            type="submit"
            name="save"
            value="Save"
            onClick="this.form.action='{{ path('pig_save') }}';"
        >

        <input
            type="submit"
            name="restart"
            value="Restart"
            onClick="this.form.action='{{ path('pig_init_get') }}';this.form.method='get';"
        >
    </p>
</form>
{{ include('flash.html.twig') }}

{% endblock %}
