{% extends "game/game21_template.html.twig" %}

{% block title %}Tjugoett{% endblock %}

{% block article %}
<article class="play-21">
    <h2>Dra eller stanna?</h2>
    <div class="flash-container">
        {{ include('flash.html.twig') }}
    </div>
    <div class="cards-21">

         <fieldset class=player>
            <legend>Dina kort</legend>
            <div class=player-cards>
                {% for card in playerCards %}
                    <p class="playing-card">
                        {{ card }}
                    </p>
                {% endfor %}
            </div>

            <p>Poäng: {{ playerScore }}</p>

            <form method="post" action="">
                <nav>
                    <input
                        class="btn card-btn"
                        type="submit"
                        name="draw"
                        value="Dra ett kort"
                        onClick="this.form.action='{{ path('game21_handle_draw') }}';"
                        {% if playerScore >= 21 %}
                            disabled
                        {% endif %}
                    >
                    
                    <input
                        class="btn card-btn card-hold-btn"
                        type="submit"
                        name="hold"
                        value="Stanna"
                        onClick="this.form.action='{{ path('game21_banks_turn') }}';"
                    >
                    <input
                        class="btn card-btn restart-game-btn"
                        type="submit"
                        name="roll"
                        value="Starta om spelet"
                        onClick="this.form.action='{{ path('game21_init') }}';"
                    >
                </nav>
            </form>
        </fieldset>


        {# <fieldset class=bank>
            <legend>Bankens kort</legend>
            <div class=bank-cards>
                {% for card in bankCards %}
                    <p class="playing-card">
                        {{ card }}
                    </p>
                {% endfor %}
            </div>
            {{ bankScore }}
        </fieldset> #}

    </div>

</article>

{% endblock %}

