{% extends "base.html.twig" %}

{% block title %}Pig Game{% endblock %}

{% block main %}
<h1>Spelkort</h1>

<p>Detta är en uppsättning sidor för att visa spelkort.</p>
<ul class="">
    <li class=""><a href="{{ path('card_deck') }}">Kortlek</a></li>
    <li class=""><a href="{{ path('card_deck_shuffle') }}">Blanda din kortlek</a></li>
    <li class=""><a href="{{ path('card_draw') }}">Dra ett kort</a></li>
    <li class="">För att dra flera kort lägg till valfri siffra (kortlekens storlek eller lägre) efter "/card/deck/draw/" t.ex: <a href="{{ path('card_draw', {num: 7}) }}">7</a> </li>
</ul>

<p class="playing-card">{{ graphic }}</p>

{# <p class="playing-card">
    {% for card in deck %}
        {{ card }}
    {% endfor %}
</p> #}
{% endblock %}

{# card/deck som visar samtliga kort i kortleken sorterade per färg och värde.

Skapa en sida card/deck/shuffle som visar samtliga kort i kortleken när den har blandats.

Skapa en sida card/deck/draw som drar ett kort från kortleken och visar upp det. Visa även antalet kort som är kvar i kortleken.

Skapa en sida card/deck/draw/:number #}
