{% extends "game/card/card_template.html.twig" %}

{% block title %}Dra ett kort{% endblock %}

{% block article %}
<form method="post" action="">
    <p>
        <input
            type="submit"
            name="draw"
            value="Dra ett kort"
            onClick="this.form.action='{{ path('draw_post') }}';"
        >
    </p>
</form>
<p>För att dra flera kort lägg till valfri siffra i addressfältet efter "draw/"</a></p>
{{ include('flash.html.twig') }}
{% if drawn %}
    <p>Du drog:
            {% for card in drawn %}
            <span class="playing-card">
                {{ card }}
            </span>
            {% endfor %}
    </p>
{% endif %}
<fieldset>
    <legend>
        <p>Det är {{ deckSize }} kort kvar i leken:</p>
    </legend>
    {% for card in deck %}
    <p class="playing-card">
        {{ card }}
    </p>
    {% endfor %}
<p>Removed cards: 
    {% for card in removed %}
        {{ card }}
    {% endfor %}
</p>
</fieldset>
{% endblock %}
